{
  "tmdb": {
    "api_url": "https://api.themoviedb.org/3",
    "api_key": YOUR API KEY,
    "image_url": "https://image.tmdb.org/t/p/w185/"
  },
  "imdb": {
    "title_url": "https://www.imdb.com/title/"
  },
  "path": {
    "input": YOUR INPUT PATH,
    "output": YOUR OUTPUT PATH
  }
}
